/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../../compass/sass/main.scss */
.modal-window, body section#about, body section#recommend {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
/* line 15, ../../compass/sass/main.scss */
.modal-window:target, body section#about:target, body section#recommend:target {
  display: block;
}
/* line 18, ../../compass/sass/main.scss */
.modal-window:target div, body section#about:target div, body section#recommend:target div {
  position: relative;
  font-size: 1.5em;
  margin: 80px auto;
  padding: 5px;
  background-color: #FFF;
  color: #000;
  opaticy: 1;
  width: 840px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 10;
}
/* line 30, ../../compass/sass/main.scss */
.modal-window:target div p, body section#about:target div p, body section#recommend:target div p {
  margin: 10px;
  padding: 10px;
  background-color: #faebe9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 39, ../../compass/sass/main.scss */
.modal-window:target a.close-modal, body section#about:target a.close-modal, body section#recommend:target a.close-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background-color: gray;
  opacity: 0.9;
  z-index: 5;
}

/* line 54, ../../compass/sass/main.scss */
body {
  background-color: #dd6369;
  margin: 10px auto;
  width: 840px;
}
/* line 60, ../../compass/sass/main.scss */
body input {
  height: 2em;
  padding: 2px 10px;
  font-size: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 66, ../../compass/sass/main.scss */
body input[type="text"] {
  width: 600px;
}
/* line 70, ../../compass/sass/main.scss */
body input[type="submit"] {
  color: #FFF;
  background-color: #dd6369;
  font-weight: bold;
  text-shadow: 1px 1px 1px #CCC;
}
/* line 77, ../../compass/sass/main.scss */
body input[type="button"] {
  color: #FFF;
  background-color: #dd6369;
  text-shadow: 1px 1px 1px #CCC;
}
/* line 94, ../../compass/sass/main.scss */
body header {
  height: 60px;
  color: #FFF;
}
/* line 98, ../../compass/sass/main.scss */
body header h1 {
  margin-left: 10px;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 2px #DDD;
  color: #faebe9;
  float: left;
}
/* line 107, ../../compass/sass/main.scss */
body header div#menu {
  height: 60px;
  margin-right: 20px;
  padding-top: 30px;
  text-align: right;
  font-size: 1.5em;
}
/* line 115, ../../compass/sass/main.scss */
body header div#menu a:link {
  color: #FFF;
}
/* line 118, ../../compass/sass/main.scss */
body header div#menu a:visited {
  color: #FFF;
}
/* line 122, ../../compass/sass/main.scss */
body header div#menu span {
  font-size: 0.7em;
}
/* line 129, ../../compass/sass/main.scss */
body section#main {
  height: 40%;
  margin: 10px;
  padding: 20px 10px;
  background-color: #faebe9;
  font-size: 1.5em;
  min-height: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 138, ../../compass/sass/main.scss */
body section#main div#input-url {
  margin: 10px 0;
}
/* line 142, ../../compass/sass/main.scss */
body section#main div#video-panel {
  text-align: center;
}
/* line 147, ../../compass/sass/main.scss */
body footer {
  background-color: #dd6369;
  color: #faebe9;
}
/* line 152, ../../compass/sass/main.scss */
body footer a:link {
  color: #faebe9;
}
/* line 155, ../../compass/sass/main.scss */
body footer a:hover {
  color: #FFF;
}
/* line 158, ../../compass/sass/main.scss */
body footer a:visited {
  color: #faebe9;
}
