/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../compass/sass/main.scss */
body {
  background-color: #DD6369;
  margin: 10px auto;
  width: 840px;
}
/* line 10, ../../compass/sass/main.scss */
body input {
  height: 2em;
  padding: 2px 10px;
  font-size: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 16, ../../compass/sass/main.scss */
body input[type="text"] {
  width: 600px;
}
/* line 20, ../../compass/sass/main.scss */
body input[type="submit"] {
  color: #FFF;
  background-color: #DD6369;
  text-shadow: 2px 2px 2px black;
}
/* line 26, ../../compass/sass/main.scss */
body input[type="button"] {
  color: #FFF;
  background-color: #DD6369;
  text-shadow: 2px 2px 2px black;
}
/* line 35, ../../compass/sass/main.scss */
body section#about-modal {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
/* line 43, ../../compass/sass/main.scss */
body section#about-modal:target {
  display: block;
}
/* line 46, ../../compass/sass/main.scss */
body section#about-modal:target div {
  position: relative;
  font-size: 1.5em;
  line-hight: 100%;
  margin: 80px auto;
  padding: 5px;
  background-color: #FFF;
  color: #000;
  opaticy: 1;
  width: 840px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 10;
}
/* line 60, ../../compass/sass/main.scss */
body section#about-modal:target a {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background-color: gray;
  opacity: 0.9;
  z-index: 5;
}
/* line 75, ../../compass/sass/main.scss */
body header {
  height: 60px;
}
/* line 78, ../../compass/sass/main.scss */
body header h1 {
  margin-left: 10px;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 2px #DDD;
  color: #FAEBE9;
  float: left;
}
/* line 87, ../../compass/sass/main.scss */
body header div#about {
  height: 60px;
  margin-right: 20px;
  padding-top: 30px;
  text-align: right;
  font-size: 1.5em;
}
/* line 95, ../../compass/sass/main.scss */
body header div#about a:link {
  text-decoration: none;
  color: #FFF;
}
/* line 99, ../../compass/sass/main.scss */
body header div#about a:visited {
  color: #FFF;
}
/* line 107, ../../compass/sass/main.scss */
body section#main {
  height: 40%;
  margin: 10px;
  padding: 20px 10px;
  background-color: #FAEBE9;
  font-size: 1.5em;
  min-height: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 116, ../../compass/sass/main.scss */
body section#main div#input-url {
  margin: 10px 0;
}
/* line 120, ../../compass/sass/main.scss */
body section#main div#video-panel {
  text-align: center;
}
/* line 125, ../../compass/sass/main.scss */
body footer {
  background-color: #DD6369;
  color: #FAEBE9;
}
/* line 130, ../../compass/sass/main.scss */
body footer a:link {
  text-decoration: none;
  color: #FFF;
}
/* line 134, ../../compass/sass/main.scss */
body footer a:visited {
  color: #FFF;
}
