@import "compass/reset";
@import "compass/css3";

/*j
$main-color: #E27D82;
$base-color: #FAEBE9;
$base-font-color: #5C4033;
$base-link-color: #BB2930;
$h-color: #922025;
$base-width: 840px;
$base-shadow-color: #993333;
*/
$main-color: #B65F58;
$highlight-color: #76231D;
$highlight-font-color: #FFF;
$base-color: #EED4D2;
$base-shadow-color: #512723;

$base-width: 840px;

@mixin line-bottom($op1: .2, $op2: .3){
    border-bottom: 1px solid rgba(0, 0, 0, $op1);
    @include box-shadow(rgba(255, 255, 255, $op2) 0 1px 0);
}

html {
    height: 100%;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.modal-window {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;

    &:target {
        display: block;

        div {
            position: relative;
            font-size: 1.5em;
            margin: 80px auto;
            padding: 5px;
            background-color: $main-color;
            color: $base-color;
            opaticy: 1;
            width: $base-width;
            @include border-radius(5px);
            z-index: 10;

            h1 {
                margin: 20px;
                font-weight: bold;
                font-size: 1.5em;
            }

            dd {
                margin: 10px 10px 20px 10px;
                padding: 10px;
                color: $highlight-color;
                background-color: $base-color;
                font-size: 1em;
                line-height: 120%;
                @include border-radius(10px);
            }

            dt {
                margin-left: 1.5em;
                display: list-item;
                list-style-type: circle;
            }

            ul {
                padding: 10px;
                background-color: $base-color;
                @include border-radius(10px);
            }
            li {
                margin: 10px 10px 20px 1.5em;
                color: $highlight-color;
                font-size: 1em;
                list-style-type: circle;
            }

        }

        a.close-modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            position: fixed;
            background-color: gray;
            opacity: 0.9;
            z-index: 5;
        }
    }
}

body {

    @include background-image(linear-gradient(left top, $main-color, $highlight-color));
    margin: 10px auto;
    width: $base-width;
    font-family: sans-serif;

    input {
        height: 2em;
        padding: 2px 10px;
        font-size: 1em;
        @include border-radius(5px);

        &[type="text"] {
            width: 600px;
        }

        &[type="submit"] {
            color: $base-color;
            background-color: $main-color;
            font-weight: bold;
            text-shadow: 2px 2px 2px $base-shadow-color;
        }

        &[type="button"] {
            color: $base-color;
            background-color: $main-color;
            text-shadow: 2px 2px 2px $base-shadow-color;
        }

    }

    #shuffle-button {
        margin-left: 1em;
        font-size: 0.8em;
    }

    a {
        &:link, &:visited {
            color: $highlight-color;
        }
        &:hover {
            color: $main-color;
        }
    }

    section#about {
        @extend .modal-window;
    }

    header {
        height: 60px;
        color: $base-color;

        h1 {
            margin-left: 10px;
            font-size: 3em;
            font-weight: bold;
            text-shadow: 2px 2px 2px $base-shadow-color;
            float: left;
            a {
                &:link, &:visited {
                    color: $highlight-font-color;
                }
            }

        }

        div#menu {
            height: 60px;
            margin-right: 20px;
            padding-top: 30px;
            text-align: right;
            font-size: 1.5em;

            a {
                &:link, &:visited {
                    color: $base-color;
                }
                &:hover {
                    color: $highlight-color;
                }
            }
            span {
                font-size: 0.7em;
            }
        }

    }

    section#main {
        height: 40%;
        margin: 5px;
        padding: 20px 10px;
        background-color: $base-color;
        font-size: 1.5em;
        min-height: 200px;
        color: $highlight-color;
        @include box-shadow($base-shadow-color 5px 5px 20px);
        @include border-radius(10px);

        span.video_count {
            font-size: 0.8em;
            margin-left: 5px;
        }

        div#input-url {
            margin: 10px 0;

            div#play-url {
                margin: 20px 5px;
                font-size: 0.8em;
            }
        }

        div#video-panel {
            text-align: center;
        }

        div#hot {
            display: none;
            margin-top: 40px;
            h2 {
                margin: 20px 15px;
                color: $highlight-color;
            }
            li {
                font-size: 0.8em;
                margin: 20px 10px;
                padding-bottom: 5px;
                @include line-bottom(0.5, 0.5);
            }
        }
    }

    footer {
        color: $base-color;

        a {
            &:link, &:visited {
                color: $base-color;
            }
            &:hover {
                color: $highlight-color;
            }
        }

        span.tweet {
            margin-left: 10px;
            margin-top: 50px;
        }
        span.fb-like {
            margin-left: 10px;
        }
    }

}
